.btn-sfr {

    background-color: #1F3140 !important;
    border: 0 !important;
    margin: 5px;
    color: white;
    border-radius: 4px;
    padding: 3px 10px;

}
.btn-sfr:hover {
    background-color: #2c4253 !important;
}

input:required:focus:valid {
    background: no-repeat 95% 50% rgba(144, 238, 144, 0.466);
    background-size: 25px;
}
input:focus:invalid {
    background: no-repeat 95% 50% rgba(231, 128, 128, 0.514);
    background-size: 25px;
}

.accepted {
    width: 45%;
    background-color: green;
    color: white;
    border-radius: 15px;
    padding: 0;
    margin: 0;
    text-align: center;
}