.text_center {
    display: flex;
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
    justify-content: center;
}
.Footer {
    background-color:  #bb2a2af0;
    color: white;
    height: 6%;
    overflow-y: hidden;
}